/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* 전체 영역 컬러 */
.contents {
  height: 5000px;
  background-image: linear-gradient(
    rgba(238, 174, 202, 1),
    rgba(148, 187, 233, 1)
  );
}

/* 스크롤 상태바 */
.top {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}


/* 상태바 채워짐 */

.top .trail {
    background-color: #eee;
    height: 10px;
}

.top .trail .bar {
    /* 높이가 부모요소인 .top .trail의 height 10px에 맞춰짐 */
    height: 100%; 
    background-color: rgb(114, 123, 255);
    width: 0;
}
